.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
    h1 {
      font-size: 100px;
      margin-bottom: 20%;
      margin-right: 50%;
    }
  
    .main {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  
    .floating-image {
      animation: floatAnimation 2s infinite;
      height: 65%;
      margin-left: 65%;
      margin-top: 3%;
    }
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  