.skill-wordcloud {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  
    .wordcloud {
      width: 100%;
      height: 100%;
    }
  }


  .skillsTitle {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #FBB462;
    font-size: 36px;

}